.hunta-form{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 3.1rem;
    color: #000000;

    input.form-control, select.custom-select, textarea.form-control {
        border-radius: 5px;
        font-size: .8rem;
    }
    textarea.form-control{
        height: 8rem;
    }
    button{
        border-radius: 10rem;
    }
}