@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600&display=swap');
@import "./custom-variables.scss";
@import "../components/cards/cards.scss";
*{
    font-family: 'Poppins', 'sans-serif' ;
}

html{
    @media  (min-width: 992px) and (max-width: 1199.98px){
        font-size: 12px;
    }
    @media  (min-width: 1200px) and (max-width: 1600px){
        font-size: 14px;
    }
    scroll-behavior: smooth;
}

.hero-text{
    font-size: 6.25rem;
    margin-bottom: 2.1rem;

    @media (max-width: 768px) { 
        font-size: 3.5rem;    
    }
}
.hero-text-2{
    font-size: 3.75rem;
    margin-bottom: 2.1rem;

    @media (max-width: 768px) { 
        font-size: 2.5rem;    
    }
}
// .h1 is for header 1
.h1{
    font-weight: 600;
    margin-bottom: 3rem;
}

// .h3 for header 2
// .h5 for header 5
.h5{
    font-weight: 600;
}

// custom weights
.regular-weight{
    font-weight: 400;
}

.btn-hunta-red{
    padding: .6em 2em;
    box-shadow: 0 20px 30px rgba($color: $hunta-red, $alpha: .15);

    &:hover{
        box-shadow: 0 20px 30px rgba($color: $hunta-red, $alpha: .3);
    }
}

.text-red{
    color: $hunta-red;
}

.hunta-link{
    color: #ffffff;

    &:hover{
        color: $hunta-red;
    }
}

.background-image{
    height: 100%;
}

.jumbotron{
    background-color: transparent;
}

.card{
    border-radius: 0;
    border: none;
}

.button-container{
    margin-top: 3rem;
}

@import "../components/section/section.scss";
@import "../components/hero/hero.scss";
@import "../components/image-cards/image-card/image-card.scss";
@import "../components/video-box/video-box.scss";
@import "../components/logo/logo.scss";
@import "../components/nav/nav.scss";
@import "../components/nav/open-nav/open-nav.scss";
@import "../components/modal/modal-button.scss";