@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600&display=swap');
@import "./custom-variables.scss";

*{
    font-family: 'Poppins', 'sans-serif' ;
}
.hero-text{
    font-size: 6.25rem;

    @media (max-width: 768px) { 
        font-size: 3.5rem;    
    }
}
.hero-text-2{
    font-size: 3.75rem;

    @media (max-width: 768px) { 
        font-size: 2.5rem;    
    }
}
// .h1 is for header 1
// .h3 for header 2
// .h5 for header 5

.btn-hunta-red{
    padding: .6em 2em;
    box-shadow: 0 20px 30px rgba($color: $hunta-red, $alpha: .15);

    &:hover{
        box-shadow: 0 20px 30px rgba($color: $hunta-red, $alpha: .3);
    }
}
.text-red{
    color: $hunta-red;
}

.background-image{
    height: 100%;
}
.jumbotron{
    background-color: transparent;
}
.card{
    border-radius: 0;
    border: none;
}


@import "../components/section/section.scss";
@import "../components/hero/hero.scss";
@import "../components/image-cards/image-card/image-card.scss";