.hunta-section{
    padding: 5rem 0;

    &.dark-background{
        background-color: #000000;
    }
    .h1.inline{
        display: inline-block;
        margin-right: 20px;
        // vertical-align: middle;
    }
}
.section-background::before{
    background-color: rgba($color: #000000, $alpha: .7);
    background-blend-mode: multiply;
}