.image-card{
    cursor: pointer;
    
    .image-card-image{
        height: 21rem;
        margin-bottom: 1.2rem;
        &::before{
            border-radius: 5px;
        }
    }
    h5{
        color: #000000;
    }
}