.nav-parent{
    padding: 1rem 0;
    position: absolute;
    width: 100%;
    z-index: 10;
    nav{
        width: 100%;

        .nav-item:last-child{
            margin-left: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: 575.98px){
                margin-left: 0;
            }

            a{
                border-radius: 100%;
                width: 2.3rem;
                height: 2.3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                &:hover{
                    background-color: $hunta-red;
                }
            }
        }

        .social-icon{
            // width: 25px;
            // height: 25px;
            margin: 0 .5rem;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: 575.98px){
                display: none;
            }
            a{
                border-radius: 100%;
                background-color: #ffffff;
                width: 1.8rem;
                height: 1.8rem;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover{
                   background-color: $hunta-red; 
                }
            }
        }
    }
    &.reverse {
        background-color: #ffffff;
        box-shadow: 0 5px 8px rgba(96, 96, 96, 0.15);
    }
}